/* You can add global styles to this file, and also import other style files */
button {
    border: none;
    outline: none;
    background-color: transparent;
    padding: 10px;
}

.admin-container {
    background-color: white;
}

.admin-add-user {
    height: 25%;
    background-color: #28282B;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}

input[type=text] {
    width: 280px;
    height: 40px;
    padding: 10px 30px;
    margin: 2px 1px;
    border: none;
}

select {
    width: 280px;
    height: 40px;
    padding: 10px 30px;
    border: none;
    margin: 2px 1px;
}

.admin-button {
    margin: 8px 2px;
    width: 563px;
    background-color: #2ECC71;
}

.admin-user-list {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    background-color: white;
}

.admin-user-detail {
    display: flex;
    width: 70%;
    margin: 5px auto;
    padding: 15px 30px;
    background-color: #28282B;
    color: white;
    border-bottom: #1D8348 3px solid;
    font-size: 18px;
    font-weight: lighter;
}

.admin-user-name {
    width: 40%;
}

.admin-user-gender {
    width: 20%;
}

.admin-user-subtype {
    width: 20%;
    border-left: #1D8348 3px solid;
}

.admin-user-active {
    width: 20%;
    border-left: #1D8348 3px solid;
}

.admin-user-show-detail-button {
    padding: 2px 5px;
    border: none;
    background-color: #28282B;
    color: yellow;
    font-weight: bold;
}

.user-detail-container {
    margin: 10px 50px;
    width: 100%;
    padding: 20px 80px;
    display: flex;
    border-top: #efefef 3px solid;
    justify-content: center;
}

.user-detail-avatar-image {
    width: 240px;
    height: 240px;
    border-radius: 50%;
    margin: 20px auto;
}

.user-detail-info {
    margin: 20px 0px;
    padding: 30px 0px;
}

h2 {
    margin: 10px 0px;
}

p {
    margin: 5px 0px;
}

.active {
    font-size: 18px;
    font-weight: bold;
}