* {
    border: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    font-size: calc(16px + (24 - 16)*(100vw - 320px)/(1920 - 320));
}

body,
button,
input {
    font: 1rem Hind, sans-serif;
    line-height: 1.5em;
}

body,
input {
    color: #171717;
}

.table-student{
    display: flex;
    justify-content: center;
}

.search-bar {
    display: flex;
}

body {
    background: #f1f1f1;
    height: 100vh;
}

.search-bar input,
.search-btn,
.search-btn:before,
.search-btn:after {
    transition: all 0.25s ease-out;
}

.search-bar input,
.search-btn {
    width: 3rem;
    height: 3rem;
}

.search-bar input:invalid:not(:focus),
.search-btn {
    cursor: pointer;
}

.search-bar input:focus,
.search-bar input:valid {
    width: 100%;
}

.search-bar input:focus,
.search-bar input:not(:focus)+.search-btn:focus {
    outline: transparent;
}

.search-bar {
    padding: 1.5rem;
    justify-content: end;
    padding-inline: 7rem;
}

.search-bar input {
    background: transparent;
    border-radius: 1.5rem;
    box-shadow: 0 0 0 0.4rem #171717 inset;
    padding: 0.75rem;
    transform: translate(0.5rem, 0.5rem) scale(0.5);
    transform-origin: 100% 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.search-bar input::-webkit-search-decoration {
    -webkit-appearance: none;
}

.search-bar input:focus,
.search-bar input:valid {
    background: #fff;
    border-radius: 0.375rem 0 0 0.375rem;
    box-shadow: 0 0 0 0.1rem #d9d9d9 inset;
    transform: scale(1);
}

.search-btn {
    background: #171717;
    border-radius: 0 0.75rem 0.75rem 0 / 0 1.5rem 1.5rem 0;
    padding: 0.75rem;
    position: relative;
    transform: translate(0.25rem, 0.25rem) rotate(45deg) scale(0.25, 0.125);
    transform-origin: 0 50%;
}

.search-btn:before,
.search-btn:after {
    content: "";
    display: block;
    opacity: 0;
    position: absolute;
}

.search-btn:before {
    border-radius: 50%;
    box-shadow: 0 0 0 0.2em #f1f1f1 inset;
    top: 0.75rem;
    left: 0.75rem;
    width: 1.2rem;
    height: 1.2rem;
}

.search-btn:after {
    background: #f1f1f1;
    border-radius: 0 0.25rem 0.25rem 0;
    top: 51%;
    left: 51%;
    width: 0.75rem;
    height: 0.25rem;
    transform: translate(0.2rem, 0) rotate(45deg);
    transform-origin: 0 50%;
}

.search-btn span {
    display: inline-block;
    overflow: hidden;
    width: 1px;
    height: 1px;
}

/* Active state */
.search-bar input:focus+.search-btn,
.search-bar input:valid+.search-btn {
    background: #2762f3;
    border-radius: 0 0.375rem 0.375rem 0;
    transform: scale(1);
}

.search-bar input:focus+.search-btn:before,
.search-bar input:focus+.search-btn:after,
.search-bar input:valid+.search-btn:before,
.search-bar input:valid+.search-btn:after {
    opacity: 1;
}

.search-bar input:focus+.search-btn:hover,
.search-bar input:valid+.search-btn:hover,
.search-bar input:valid:not(:focus)+.search-btn:focus {
    background: #0c48db;
}

.search-bar input:focus+.search-btn:active,
.search-bar input:valid+.search-btn:active {
    transform: translateY(1px);
}



table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 80%;
}

th {
    background-color: green;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}