<div class="notice_container">

  <div class="notice_button">
    <button (click)="displaybody()">+</button>
  </div>

  <div class="notice_heading">
    <p>Lorem ipsum dolor sit amet.</p>
  </div>

  <!-- <ng-template [ngIf]="display"> -->

  <div class="notice_body" *ngIf="display">

    <h1>Lorem ipsum dolor sit amet.</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam officia veritatis in ratione facilis? Amet
      repellat quam deserunt saepe qui?</p>

    <h1>Lorem ipsum dolor sit amet consectetur.</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione hic fuga corporis repellat distinctio vel est
      maxime, officiis consequuntur nesciunt nisi molestias deleniti, incidunt quod?</p>

    <h1>Lorem ipsum dolor sit.</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel a maxime fugit autem laudantium perferendis unde
      ducimus tempore? Odit quasi, quo illo repellendus laborum repellat corporis molestiae recusandae quas accusamus!
    </p>

  </div>

  <!-- </ng-template> -->

</div>