h1{
    margin: 20px 50px;
    color: red;
}

.app-container{
    margin: 20px 50px;
    padding: 10px 20px;
}

.apphighlight{
    border: 3px solid green;
    background-color: gold;
}

.appFont{
    font-size: 18px;
}