<div>
    <!-- <p>Product</p>
        <img src="../../assets/images/iphone15.jpg" alt="Iphone Images">
        <p>Name: {{Product.Name}}</p>
        <p>Price: {{Product.Price}}</p>
        <p>Color: {{Product.Color}}</p>
        <p>Storage: {{Product.Storage}}</p>
        <p>Discounted Price: {{ getDiscountedPrice() }}</p>
        <p>Unit Left: {{ getUnitleft() }}</p>
        <button [disabled]="!(Product.Units > 0)">Buy Now</button>  
        <input type="text" [value]="name"><br>
        <input type="text" (input)="onnamechange($event)"><br>
        <p>Name: {{name}}</p> -->


    <app-search (SearchChange)="setSearchText($event)"></app-search>

    <product-list [searchtext]="searchtext" #productListComponent></product-list>

    <productdetails *ngIf="productListComponent.selectedProduct" [productListComp]="productlistcomponent">
    </productdetails>


</div>