<footer>
    <div class="container">
        <div class="row">
            <div class="footer_menu_main col-lg-12 col-sm-12">
                <div class="col-lg-9 non_social_content">
                    <div class="row">

                        <div class="col-lg-8 col-sm-4">
                            
                                <footer-menu></footer-menu>

                        </div>

                    </div>

                </div>
                <div class="col-lg-3">
                    <div class="social_menu">
                        <a href="#" class="social_icons"><i class="fa-brands fa-facebook-f"></i></a>
                        <a href="#" class="social_icons"><i class="fa-brands fa-instagram"></i></a>
                        <a href="#" class="social_icons"><i class="fa-brands fa-google-plus-g"></i></a>
                        <a href="#" class="social_icons"><i class="fa-brands fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="col-lg-12">
        <div class="footer_content">
            <p>{{copyright}}<i class="fa-regular fa-heart"></i> {{credit}}</p>
            <div class="terms_faq">
                <p>Terms & Conditions</p>
                <p>FAQ</p>
            </div>
        </div>
    </div>
</footer>